.cabecera {
  background-color: #34346d;
  color: rgb(168, 63, 63);
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid #00c4cc;
}

.cabecera h1 {
  margin: 0;
  font-size: 2.5rem;
}

.cabecera p {
  font-style: italic;
  font-size: 1.2rem;
  color: #ffa4a4;
}
